@import "tailwindcss";

:root {
  --font-primary: 'Roboto Slab', serif;
  --font-secondary: 'Open Sans', sans-serif;
}

@theme {
  --color-primary: #96c61c;
  --color-secondary: #4b7312;
  --color-tertiary: #F6F9F3;
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);

}



html,
body,
#root {
  min-height: 100vh;
  background-color: #F6F9F3;
}